<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" href="img/open-book.png" />
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/css/styles.css" rel="stylesheet">
    <link href="/css/logincss.css" rel="stylesheet">
	<!-- Stuff needed for the form -->
	
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!--===============================================================================================-->




	</head>
	<body>
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
      <div class="container">
      <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">Home</a>
      </div>
        <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
              <% for(i=0;i<nav.length;i++){%>
            <li>
              <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
            </li>
            <%}%>
          </ul>
          <ul class="nav navbar-right navbar-nav">
            <li class="dropdown">
              <ul class="dropdown-menu" style="padding:12px;">
                <form class="form-inline">
                  <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
                </form>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"></div>
      </div>
    </div>
  </div>
  <!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12 "> 
      
      <div class="panel imgdivlogin">
        <div class="panel-body">
          
          
          
          <!--/stories-->
          <div class="row">    
            
              <!-- Form for adding authors -->
    <div class="wrap-contact100 popoutform">
		<div class="contact100-form-title" style="background-image: url(images/bg-01.jpg);">
			<!-- <span class="contact100-form-title-1">
				Add Author
			</span> -->

			<span class="contact100-form-title-2">
				Use the form below to login
			</span>
		</div>

		<form action="#" class="contact100-form validate-form">
			<div class="wrap-input100 validate-input" >
				<span class="label-input100">Email:</span>
				<input class="input100" type="email" name="name" placeholder="Enter Email" required>
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input" >
				<span class="label-input100">Password:</span>
				<input class="input100" type="password" name="name" placeholder="Enter password" required>
				<span class="focus-input100"></span>
			</div>

			

			<div class="container-contact100-form-btn">
				<button class="contact100-form-btn">
					<span>
						Log in
						<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
					</span>
				</button>
			</div>
			<br>
			<div class="container-contact100-form-btn">
				<a class="text-light" href="/login/signup"> New? Signup here</a>
			</div>
			
		</form>
	</div>
         
          <!--/stories-->
          
          
          
        
          
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
                                                
                                                                                
<hr>


<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
        <p class="pull-right">
          <em>Library Application</em>
        </p>    
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>