<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Login" />
		<title><%=title%></title>
		
		<link rel="icon" type="image/png" href="img/open-book.png" />
		<!-- Bootstrap core CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet" />
		<!-- Custom styles for this template -->
		<link href="css/signin.css" rel="stylesheet" />
	</head>
	<body class="text-center bg-dark">
        <header class="navbar navbar-bright navbar-fixed-top" role="banner">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">Home</a>
				</div>
				<nav class="collapse navbar-collapse" role="navigation">
					<ul class="nav navbar-nav">
						<%for (i=0; i<nav.length; i++){%>
						<li>
							<a href="<%=nav[i].link%>"><%=nav[i].name%></a>
						</li>
						<%}%>
					</ul>
				</nav>
			</div>
		</header>
		<main class="form-signin nav-link active text-light">
			<form class="needs-validation" action="/">
				<h3 class="text-light">Please sign in</h3>
				<input
					type="email"
					id="inputEmail"
					class="form-control"
					placeholder="Email address"
					required
					autofocus
				/>
				<div id="email-feedback" class="valid-feedback">
					Please choose a valid e-mail ID.
				</div>
				<input
					type="password"
					id="inputPassword"
					class="form-control mb-0"
					placeholder="Password"
					required
				/>
				<div id="pass-feedback" class="invalid-feedback">
					Invalid Password
				</div>
				<div class="checkbox mb-3 text-light">
					<label>
						<input type="checkbox" value="remember-me" /> Remember me
					</label>
				</div>
				<button class="w-100 btn btn-lg btn-primary" type="submit">
					Sign in
				</button>
				<a class="text-light" href="/login/signup">New? Signup here</a>
				<!-- <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p> -->
			</form>
		</main>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/login.js"></script>
	</body>
</html>
